In [5]:
# Extraction des donn√©es depuis note fichier texte
import pandas as pd
dataset = pd.read_table("market_basket.txt", delimiter="\t")

In [8]:
dataset.head(10)

   ID                   Product
0   1                   Peaches
1   2             Vegetable_Oil
2   2               Frozen_Corn
3   3                     Plums
4   4               Pancake_Mix
5   5                    Cheese
6   6               Cauliflower
7   7                 2pct_Milk
8   8  98pct_Fat_Free_Hamburger
9   8              Potato_Chips

In [9]:
dataset.shape

(12935, 2)

In [12]:
df = pd.crosstab(dataset.ID, dataset.Product)
df.iloc[:30,:7]

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries
ID,,,,,,,
1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0
8,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0
14,0,0,0,0,0,1,0
15,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0
23,0,0,0,0,0,1,0
24,0,0,0,0,0,0,0
25,0,1,0,0,0,1,0
26,1,0,0,0,0,0,0
27,0,0,0,0,0,0,0
28,0,1,0,1,0,1,0
29,0,1,0,0,0,1,0
30,0,0,0,0,0,0,0